/*.md
/*.xml
*.sh
/*.idea
/*.iml
/*.log
*.md
test
*.pyc
*.pyo
*.exe
*.dll
*.so
*.swp
*.swo
*.bak
*.orig
*.rej
*.tmp
*.zip
*.rar
*.7z
*.gz
*.bz2
*.tar
*.tar.gz
*.tar.bz2
*.tar.7z
*.tar.xz
*.tar.zst
*.tar.z
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.lzo
*.tar.zstd
*.html